* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: sans-serif;
  text-transform: capitalize;
}

#nav-galeria {
  background-color: transparent;
}

.navbar-brand {
  width: 100x;
  height: 115px;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 10px;
}

.navbar-nav {
  font-size: 20px;
  font-weight: 500;
}

.nav-item a {
  color: #ffffff !important;
  transition: all 0.3s ease;
  margin-right: 10px;
}

.navbar-toggler {
  margin-right: 20px;
}

.nav-item {
  text-align: center;
}

#pys {
  background-image: radial-gradient(circle, #0e1012, #111315, #131517, #15171a, #17191c, #191c1f, #1b1e21, #1d2124, #202428, #23282c, #272b30, #2a2f34);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-top: 8px;
  margin-bottom: 8px;
}

#pys header .navbar {
  background-color: #00C3FF;
}

.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
}
.card div .card .frente {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5PX 10PX #000;
}

.card .frente img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .frente h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  background: #0E1012;
  text-align: center;
}

.card .dorso {
  background: #0E1012;
  transform: perspective(600px) rotateY(180deg);
  padding: 15px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  justify-content: space-between;
}

.card .dorso h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .dorso p {
  letter-spacing: 1px;
}

.card .dorso .enlace {
  border-top: solid 1px #ffffff;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
}

.card:hover .frente {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .dorso {
  transform: perspective(600px) rotateY(360deg);
}

#formulario {
  background-image: url(/Imagenes/fondo3.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.form-registro {
  width: 400px;
  background-color: rgba(7, 4, 8, 0.5647058824);
  backdrop-filter: blur(0.8rem);
  -webkit-backdrop-filter: blur(0.8rem);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 4px;
  font-family: sans-serif;
  color: #ffffff;
  box-shadow: 7px 13px 40px #000;
}
.form-registro .titulo {
  font-size: 22px;
  margin-bottom: 20px;
}
.form-registro .controls {
  width: 100%;
  background: rgba(27, 22, 29, 0.6588235294);
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #00C3FF;
  color: #ffffff;
}
.form-registro p {
  height: 10px;
  text-align: center;
  font-size: 16px;
}
.form-registro p a {
  color: #ffffff;
  text-decoration: none;
}
.form-registro .boton {
  width: 100%;
  background-color: #00C3FF;
  border: none;
  font-size: 16px;
  margin-top: 10px;
}

#galeria {
  background-image: linear-gradient(to right bottom, #0e1012, #111315, #131517, #15171a, #17191c, #191c1f, #1b1e21, #1d2124, #202428, #23282c, #272b30, #2a2f34);
}

#sn {
  background-image: radial-gradient(circle, #0e1012, #111315, #131517, #15171a, #17191c, #191c1f, #1b1e21, #1d2124, #202428, #23282c, #272b30, #2a2f34);
}

.sobre_nosotros {
  margin: auto;
}

.seccion {
  width: 75%;
  margin: auto;
  padding: 75px 0;
}

.seccion-titulo {
  font-family: sans-serif;
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.nosotros {
  display: flex;
  flex-wrap: wrap;
}

.nosotros_texto {
  width: 60%;
  padding: 0 10% 0 0;
}

.nosotros_parrafo {
  font-family: sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: justify;
}

.parrafo_texto {
  margin: 10px 0;
}

.nosotros_img {
  width: 40%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.imagen_nosotros {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 20px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .nosotros {
    flex-direction: column;
    align-items: center;
  }
  .nosotros_texto,
  .nosotros_img {
    width: 100%;
    padding: 0;
  }
  .nosotros_parrafo {
    font-size: 16px;
  }
  .seccion {
    width: 90%;
  }
  .seccion-titulo {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  .nosotros_parrafo {
    font-size: 14px;
  }
  .seccion-titulo {
    font-size: 24px;
  }
}
.contenedor-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}

.contenedor-img .caja-img figure {
  width: 100%;
  height: 100%;
}

.contenedor-img .caja-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedor-img .caja-img:nth-child(1) {
  grid-column-start: span 2;
}

.contenedor-img .caja-img:nth-child(4) {
  grid-row-start: span 2;
}

@media screen and (max-width: 880px) {
  .contenedor-img {
    width: 95%;
    grid-gap: 10px;
    grid-template-rows: 200px;
  }
  .contenedor-img .caja-img {
    grid-column-start: span 1;
  }
}
@media screen and (max-width: 500px) {
  .contenedor-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .contenedor-img .caja-img img {
    height: 200px;
  }
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #00C3FF;
  padding-bottom: 6px;
  display: inline-block;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #BBBBBB;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  text-align: left;
}

.footer-links ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}

.social-links a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10 10 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background-color: #00C3FF;
}

@media (max-width: 991px) {
  .footer-row {
    text-align: center;
  }
  .footer-links {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer-row .footer-links ul li a {
    text-align: center;
  }
}/*# sourceMappingURL=estilos.css.map */