*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: sans-serif;
    text-transform: capitalize;
}


.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    background-color: #585a61;
}
.navbar-brand{
width: 100px;
height: 115px;
}
.navbar-brand img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}
.navbar-nav{
    font-size: 20px;
    font-weight: 500;
}

.nav-item a{
    color: #ffffff !important;
    transition: all .3s ease;

}

form{
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-image:linear-gradient(rgba(128, 128, 128, 0.6), rgba(0, 0, 0, 0.6)), url(soldador.jpg);
}

form h2{
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline  rgb(245, 167, 0);
    text-transform: uppercase;
}

form input{

    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid black;
    
}
form input::placeholder{
    color: rgb(245, 167, 0);
}

form textarea{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid black;
}


form textarea::placeholder{
    color:  rgb(245, 167, 0);
}

form #botonEnviar{
    background-color: rgb(245, 167, 0);
    border: 4px solid black;
    padding: 10px;
}

.contenedor-img{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}

.contenedor-img .caja-img figure{
    width: 100%;
    height: 100%;
}

.contenedor-img .caja-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contenedor-img .caja-img:nth-child(1){
    grid-column-start: span 2;

}
.contenedor-img .caja-img:nth-child(4){
    grid-row-start: span 2;
}

@media screen and (max-width: 880px){
    .contenedor-img{
        width: 95%;
        grid-gap: 10px;
        grid-template-rows: 200px;
    }
    .contenedor-img .caja-img{
        grid-column-start: span 1;
    }
}
@media screen and (max-width: 500px){
    .contenedor-img{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
    }
    .contenedor-img .caja-img img{
        height: 200px;
    }
}
footer{
    background-color: #585a61;
    padding: 80px 0;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;

}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition:  all .3s ease;
    text-align: left;
}

.footer-links ul li a:hover{
    color: #ffffff;
    padding-left: 6px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10 10 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all .3s ease;
}
.social-links a:hover{
    background-color: #00C3FF;    
    }
    
    @media(max-width: 991px){
        .footer-row{
            text-align: center;
        }
        .footer-links{
            width: 100%;
            margin-bottom: 30px;
        }
    
}